<div ng-controller="mycomment">
	<div class="col-md-12" style="padding-top:70px; padding-bottom:100px;">
	
		<div class="col-md-1"></div>
		<div class="col-md-10">
			
			<div class="col-md-12" style="padding-top:10px;">
				<div class="col-md-2" style="font-weight: bold; font-size: 15px;">
					Quiz Name : 
				</div>
				<div class="col-md-10">
					{{quizData.quizname}}
				</div>
			</div>
			<div class="col-md-12" style="padding-top:10px;">
				<div class="col-md-2" style="font-weight: bold; font-size: 15px;">
					Quiz Description :
				</div>
				<div class="col-md-10">
					{{quizData.quizdescription}}
				</div>
			</div>
			<div class="col-md-12" style="padding-top:10px;">
				<div class="col-md-2" style="font-weight: bold; font-size: 15px;">
					Quiz Category :
				</div>
				<div class="col-md-10">
					{{quizData.category}}
				</div>
			</div>
			<div class="col-md-12" style="padding-top:10px;">
				<div class="col-md-2" style="font-weight: bold; font-size: 15px;">
					Quiz Difficulty: 
				</div>
				<div class="col-md-10">
					{{quizData.quizlevel}}
				</div>
			</div>
			
			<div class="col-md-12" style="padding-top:20px;">
				<div class="col-md-6" style="height: 100px; padding: 10px 10px 10px 10px; border: 1px solid black; text-align: center;">
					<div class="col-md-3" style="font-weight: bold; font-size: 15px; ">
						Quiz Score: 
					</div>
					<div class="col-md-3">
						{{quizResult.totalScoreForquiz}}
					</div>
				</div>
				<div class="col-md-6">
				</div>
			</div>
			
			<div class="col-md-12" style="padding-top:40px;">
				<div ng-repeat="question in quizData.questions track by $index" >
					<div ng-hide="true">
					{{questionNo = $index}}
					</div>
					<div class="col-md-10" style="padding-bottom:20px;">
						<div style="padding-top:10px; padding-bottom:5px; font-weight: bold; font-size: 15px;">
							{{($index+1)+") "+question.questionstring }}
						</div>
						<div>
							<span ng-repeat="option in question.options track by $index" style="padding-top:2px; padding-left:5px;padding-bottom:2px;">
								<div ng-show="question.options[$index].optionid ==  quizSubmitData.setOfQuestionAndAnswers[questionNo].userselectedoptionoid" >
									<input type="radio" name="" value="" checked>
										<span style="color: green; font-weight: bold;" ng-show="question.options[$index].optionvalue ==  question.correctionoptionstring" >
											{{" "+question.options[$index].optionvalue}}
										</span>
										<span ng-show="question.options[$index].optionvalue !=  question.correctionoptionstring" >
											{{" "+question.options[$index].optionvalue}}
										</span>
									</input></br>
								</div>
								<div ng-show="question.options[$index].optionid !=  quizSubmitData.setOfQuestionAndAnswers[questionNo].userselectedoptionoid" >
									<input type="radio" name="" value="" >
										<span style="color: green; font-weight: bold;" ng-show="question.options[$index].optionvalue ==  question.correctionoptionstring" >
											{{" "+question.options[$index].optionvalue}}
										</span>
										<span ng-show="question.options[$index].optionvalue !=  question.correctionoptionstring" >
											{{" "+question.options[$index].optionvalue}}
										</span>
									</input></br>
								</div>
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-12" style="padding-top:10px;">
				<div class="col-md-1"></div>
				<div class="col-md-4">
					<button class="btn btn-default btn-block" type="button" ng-click="recommendToFriend()">Recommended to Friend</button>
				</div>
				<div class="col-md-5"></div>
			</div>
			
			<div class="col-md-12" style="padding-top:10px;">
				<div class="col-md-6">
					<form name="commentform">
						<div class="col-md-12">
								<textarea name="commentform_comment" id="commentform_comment" class="form-control" rows="4" placeholder="Enter your thoughts !!!!" ng-model="commentform_comment" required>
								</textarea>
								<div class="error-container"
									ng-show="commentform_comment.$dirty && commentform_comment.$invalid">
										<small class="errorbox"
										ng-show="commentform_comment.$error.required">Comment is required</small> 
								</div>
						</div>
						<div class="col-md-12" style="padding-top:10px;">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<button class="btn btn-default btn-block" type="button" ng-click="commentform_postComment()">Post</button>
							</div>
							<div class="col-md-4"></div>
						</div>
						<div class="col-md-12" style="padding-top:10px;">
							<div class="col-md-4"></div>
							<div class="col-md-4">
								<!-- error and success message -->
						       	<div>
									<div class="errorbox" style="position:relative;padding-top:10px; padding-left:10px;">
										{{ error }}
									</div>
									<div class="successbox" style="position:relative;padding-top:10px;  padding-left:10px;">
										{{success}}
									</div>
								</div>
							</div>
							<div class="col-md-4"></div>
						</div>
					</form>
				</div>
				<div class="col-md-6"></div>
			</div>
			
			<div class="col-md-12" style="padding-top:10px;">
				<div class="col-md-8">
					<table st-safe-src="queue.transactions" st-table="emptyArray" class="table table-striped" >
						<tbody ng-hide="isLoading">
							<tr ng-repeat="row in emptyArray track by $index">
								<td >{{$index+1}}</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="5" class="text-center">
									<div st-pagination="" st-items-by-page="itemsByPage" ></div>
								</td>
							</tr>
						</tfoot>
					</table>
				</div>
				<div class="col-md-4"></div>
			</div>
			
		</div>
		<div class="col-md-1"></div>
		
	</div>
</div>

<div style="padding-top: 50px;" ng-include src="'footer.html'"></div>