<div ng-controller="createquizController">
	
	<div class="col-md-12"  style="padding-top:70px; padding-bottom:10px">
		<div class="col-md-1"></div>
		<div class="col-md-10"><span style="font-weight: bold; font-size: 15px;">Create New Quiz :</span></div>
		<div class="col-md-1"></div>
	</div>
	
	<div class="col-md-12"  style="padding-top:10px; padding-bottom:10px">
		<div class="col-md-1"></div>
		<div class="col-md-4">
			<input type="text" class="form-control" placeholder="Quiz Name" name="quiz_name"
						 ng-model="quizData.quizname" required>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	<div class="col-md-12"  style="padding-top:10px; padding-bottom:10px">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<textarea name="quiz_description" id="quiz_description" class="form-control" rows="4" placeholder="Describe Quiz ..." 
				ng-model="quizData.quizdescription" required>
			</textarea>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	<div class="col-md-12"  style="padding-top:10px; padding-bottom:10px">
		<div class="col-md-1"></div>
		<div class="col-md-3">
			<select
				id="quiz_category" name="quiz_category" class="form-control" data-role="listview"
				ng-model="quizData.categoryid" ng-change="" required>
				<option value="">Select Quiz Category</option>
				<option value=1>Science</option>
				<option value="2">Art</option>
			</select>
		</div>
		<div class="col-md-3">
			<select
				id="quiz_difficulty" name="quiz_difficulty" class="form-control" data-role="listview"
				ng-model="quizData.quizlevel" ng-change="" required>
				<option value="">Select Quiz Difficulty</option>
				<option value="Hard">Hard</option>
				<option value="Medium">Medium</option>
				<option value="Easy">Easy</option>
			</select>
		</div>
		<div class="col-md-5"></div>
	</div>
	
	<div class="col-md-12"  style="padding-top:10px; padding-bottom:10px">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<span style="font-weight: bold; font-style: italic; font-size: 13px;">
				Each Quiz has to be minimum 5 Questions.
			</span>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	<div class="col-md-12" style="padding-top:10px; padding-bottom:10px">
		<div class="col-md-1" ></div>
		<div class="col-md-8" style="padding: 10px 20px 10px 10px; border: 1px solid black;">
			<div class="col-md-12" style="padding-top:5px; padding-bottom:5px">
				<span style="font-weight: bold; font-style: italic; font-size: 13px;">
					Question :
				</span>
			</div>
			<div class="col-md-9" style="padding-top:5px; padding-bottom:5px">
				<input type="text" class="form-control" placeholder="Question" name="{{questionData.questionstring}}"
						ng-model="questionData.questionstring" required>
			</div>
			
			<div class="col-md-12" style="padding-top:5px; padding-bottom:5px">
				<div class="col-md-3">
					<span style="font-weight: bold; font-style: italic; font-size: 13px;">
						Options :
					</span>
				</div>
				<div class="col-md-4">
					<button class="btn btn-default btn-block" type="button" ng-click="addOption()">Add Option</button>
				</div>
			</div>
			<div class="col-md-12" style="padding-top:5px; padding-bottom:5px" ng-repeat="option in questionData.optionStringFromUI track by $index">
				<div class="col-md-5">
					<input type="text" class="form-control" placeholder="Question" name="{{questionData.optionStringFromUI[$index]}}"
						ng-model="questionData.optionStringFromUI[$index]" required>
				</div>
				<div class="col-md-4">
					<button class="btn btn-default btn-block" type="button" ng-click="deleteOption($index)">Delete Option</button>
				</div>
			</div>
			
			<div class="col-md-12" style="padding-top:5px; padding-bottom:5px">
				<span style="font-weight: bold; font-style: italic; font-size: 13px;">
					Correct Option :
				</span>
			</div>
			
			<div class="col-md-12" style="padding-top:5px; padding-bottom:5px">
				<div class="col-md-5">
					 <select
						id="question_correct_option" name="question_correct_option" class="form-control" data-role="listview"
						ng-model="questionData.correctionoptionstring" required>
						<option ng-repeat="option in questionData.optionStringFromUI track by $index" value="{{questionData.optionStringFromUI[$index]}}">{{questionData.optionStringFromUI[$index]}}</option>
					</select>
				</div>
			</div>
			
			<div class="col-md-12" style="padding-top:5px; padding-bottom:5px">
				<div class="col-md-2"></div>
				<div class="col-md-6">
					<button class="btn btn-default btn-block" type="button" ng-click="addQuestion()">Add Question</button>
				</div>
			</div>
			
		</div>
		<div class="col-md-2" ></div>
	</div>
	
	<div class="col-md-12" style="padding-top:40px; padding-bottom:10px;">
		<div class="col-md-1"></div>
		<div class="col-md-8" style="padding: 1px 1px 1px 1px; border: 1px solid black;">
			<div class="col-md-12">
				<span style="font-weight: bold; font-size: 15px; padding-left:45%;">Quiz</span>
			</div>
			<div class="col-md-12" style="padding-top:20px;">
				<span style="font-weight: bold; font-size: 15px; padding-left:45%; font-style: italic;">{{quizData.quizname}}</span>
			</div>
			<div class="col-md-12" style="padding-top:40px;">
				<div ng-repeat="question in quizData.questions track by $index">
					<div class="col-md-10">
						<div style="padding-top:10px; padding-bottom:10px;">
							{{($index+1)+") "+question.questionstring}}
						</div>
						<div>
							<span ng-repeat="option in question.optionStringFromUI track by $index" style="padding-top:2px; padding-left:5px;padding-bottom:2px;">
								<input type="radio" name="" value="" >{{" "+question.optionStringFromUI[$index]}}</input></br>
							</span>
						</div>
						<div style="padding-top:5px; padding-bottom:5px; font-weight: bold;">
							{{"Correct Option : "+question.correctionoptionstring}}
						</div>
					</div>
					<div class="col-md-2">
						<button class="btn btn-default btn-block" type="button" ng-click="deleteQuestion($index)">Delete Question</button>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
	
	<div class="col-md-12" style="padding-top:40px; padding-bottom:10px;">
		<div class="col-md-1"></div>
		<div class="col-md-5">
			<button class="btn btn-default btn-block" type="button" ng-click="createQuiz()">Create Quiz</button>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	<div class="col-md-12" style="padding-top:40px; padding-bottom:100px;">
		<div class="col-md-3"></div>
		<div class="col-md-5">
			
			<!-- error and success message -->
	       	<div>
				<div class="errorbox" style="position:relative;padding-top:5px;">
					{{ error }}
				</div>
				<div class="successbox" style="position:relative;padding-top:5px;">
					{{success}}
				</div>
			</div>
			
		</div>
		<div class="col-md-7"></div>
	</div>
	
	<div style="padding-top:40px; padding-bottom:100px;">
		{{quizData}}
	</div>
	
</div>

<div style="padding-top: 50px;" ng-include src="'footer.html'"></div>