<div ng-controller="globalDashboardController">

	<div  class="col-md-12" style="padding-top: 70px; padding-bottom: 100px">
		
		<div  class="col-md-5">
			<div  class="col-md-12" style="padding-top: 20px; padding-bottom: 20px; font-weight: bold; font-size: 15px;">
				Top Scorers : 
			</div>
			<div  class="col-md-12" style="padding-top: 10px; padding-bottom: 40px">
				<table st-safe-src="queue1.transactions" st-table="emptyArray" class="table table-striped" >
					<thead>
					<tr >
						<th style="width: 10%">No.</th>
						<th style="width: 15%">Name</th>
						<th style="width: 15%">Score</th>
						<th style="width: 15%">Global Rank</th>
						<th style="width: 15%">Country</th>
					</tr>
					</thead>
					<tbody ng-hide="isLoading">
						<tr ng-repeat="row in emptyArray track by $index">
							<td>{{$index+1}}</td>
							<td>{{row.email}}</td>
							<td>{{row.totalScore}}</td>
							<td>{{$index+1}}</td>
							<td>{{row.country}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5" class="text-center">
								<div st-pagination="" st-items-by-page="itemsByPage1" ></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		
		<div  class="col-md-7">
			<div class="col-md-12" style="padding-top: 20px; padding-bottom: 10px">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<span style="font-weight: bold; font-size: 15px;">
						Top 10 User Categorywise :
					</span>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3"></div>
				<div class="col-md-2"></div>
			</div>
			<div class="col-md-12" style="padding-top: 10px; padding-bottom: 10px;">
				<div class="col-md-1"></div>
				<div class="col-md-5">
					<select id="globaldashboard_category" class="form-control"
						data-role="listview" ng-model="globaldashboard_category" required>
							<option value="">Select Category</option>
							<option value="Technology">Technology</option>
							<option value="Science">Science</option>
							<option value="History">History</option>
							<option value="Language">Language</option>
					</select>
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-3">
					<button class="btn btn-default btn-lg btn-block" ng-click="searchCategory()">Search</button>
				</div>
				<div class="col-md-2"></div>
			</div>
			<div class="col-md-12" style="padding-top: 20px; padding-bottom: 40px;" ng-hide="showCategoryTop">
				<div class="col-md-12">
					<table st-safe-src="queue2.transactions" st-table="emptyArray2"
					class="table table-striped"
					style="width: 250; display: inline-block;">
					<thead>
						<tr>
							<th style="width: 10%">No.</th>
							<th style="width: 25%">Name</th>
							<th style="width: 25%">Category Score</th>
							<th style="width: 25%">Category Rank</th>
							<th style="width: 25%">Country</th>
						</tr>
					</thead>

					<tbody ng-hide="isLoading">
						<tr ng-repeat="row in emptyArray2 track by $index">
							<td>{{$index+1}}</td>
							<td>{{row.email}}</td>
							<td>{{row.totalScore}}</td>
							<td>{{$index+1}}</td>
							<td>{{row.country}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5" class="text-center">
								<div st-pagination="" st-items-by-page="itemsByPage2" ></div>
							</td>
						</tr>
					</tfoot>
				</table>
				</div>
			</div>		
		</div>
		
	</div>

</div>

<div style="padding-top: 50px;" ng-include src="'footer.html'"></div>