<div ng-controller="homeUserController">

	<div class="col-md-12" style="padding-top: 75px; padding-bottom: 100px" >
		<div class="col-md-6">
			<div class="col-md-12">
				<span style="font-weight: bold; font-size: 15px;">Attempted Quiz :</span>
			</div>
			<div class="col-md-12"  style="; padding-bottom: 30px;" ng-hide="hideAttemptedQuizTable">
				<table st-safe-src="queue1.transactions" st-table="emptyArray" class="table table-striped" >
					<thead>
					<tr >
						<th style="width: 10%">No.</th>
						<th style="width: 20%">Quiz Name</th>
						<th style="width: 20%">Quiz Creator</th>
						<th style="width: 20%">Category</th>
						<th style="width: 10%">Score</th>
						<th style="width: 20%">Rank</th>
					</tr>
					</thead>
					<tbody ng-hide="isLoading">
						<tr ng-repeat="row in emptyArray track by $index">
							<td>{{$index+1}}</td>
							<td>{{row.scoreForQuiz.quizname}}</td>
							<td>{{row.scoreForQuiz.quizcreatoruser.email}}</td>
							<td>{{row.scoreForQuiz.category}}</td>
							<td>{{row.score}}</td>
							<td>{{row.rankForQuiz.rank}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5" class="text-center">
								<div st-pagination="" st-items-by-page="itemsByPage" ></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="col-md-12"  style="padding-top:20px;" >
				<div class="col-md-4" ></div>
				<div class="col-md-4">
						<!-- error and success message -->
				       	<div>
							<div class="errorbox" style="position:relative;padding-top:10px; padding-left:80px;">
								{{ error1 }}
							</div>
							<div class="successbox" style="position:relative;padding-top:10px;  padding-left:80px;">
								{{success1 }}
							</div>
						</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="col-md-12" style="height: 200px; padding: 10px 10px 50px 10px; border: 1px solid black;">
				<div style="text-align: center; font-weight: bold; padding-top:10%; font-size: 30px;">
					{{"Global Ranking : "+ globalRank}}
				</div>
			</div>
			
			<div class="col-md-12" style="padding-top: 20px;">
				<span style="font-weight: bold; font-size: 15px;">Categorywise Ranking :</span>
			</div>
			<div class="col-md-12" style="padding-top: 10px;" ng-hide="hideCategoryAttemptedQuizTable">
				<div class="col-md-1"></div>
				<div class="col-md-10">
					<table st-safe-src="queue2.transactions" st-table="emptyArray1" class="table table-striped" >
					<thead>
					<tr >
						<th style="width: 20%">Category</th>
						<th style="width: 20%">Ranking</th>
						<th style="width: 20%">Score</th>
					</tr>
					</thead>
					<tbody ng-hide="isLoading">
						<tr ng-repeat="row in emptyArray1 track by $index">
							<td>{{row.category}}</td>
							<td>{{row.rank}}</td>
							<td>{{row.score}}</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="5" class="text-center">
								<div st-pagination="" st-items-by-page="itemsByPage" ></div>
							</td>
						</tr>
					</tfoot>
				</table>
				</div>
				<div class="col-md-1"></div>
			</div>
			<div class="col-md-12"  style="padding-top:20px;" >
				<div class="col-md-4" ></div>
				<div class="col-md-4">
						<!-- error and success message -->
				       	<div>
							<div class="errorbox" style="position:relative;padding-top:10px; padding-left:80px;">
								{{ error2 }}
							</div>
							<div class="successbox" style="position:relative;padding-top:10px;  padding-left:80px;">
								{{success2 }}
							</div>
						</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>	
	</div>
	
</div>

<div style="padding-top: 50px;" ng-include src="'footer.html'"></div>
